.home {
  .features {
    display: flex;
    justify-content: center;
    background-color: #f1fdf7;
    padding: 100px 0;

    &.dark {
      background-color: #0d084d;
      color: white;
    }
    .container {
      display: flex;
      width: 1400px;
      align-items: center;
      gap: 20px;
      h1 {
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 5px;
      }
      .item {
        &:first-child {
          flex: 2;
          button {
            color: white;
            background-color: #1dbf73;
            border: 1px solid #0d084d;
            border-radius: 5px;
            padding: 10px 20px;
            width: max-content;
            font-size: 12px;
            font-weight: 500;
            transition: all 0.5s ease-in-out;
            &:hover {
              background-color: white;
              border: 1px solid #1dbf73;
              color: #1dbf73;
            }
          }
        }
        &:last-child {
          flex: 3;
          display: flex;
          align-items: center;
          img {
            width: 720px;
          }
        }
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 20px;
          font-weight: bold;
          img {
            height: 30px;
            width: 30px;
          }
        }
        p {
          font-size: 17px;
          color: gray;
        }
        video {
          width: 720px;
        }
      }
    }
  }
}
